---
---

@import "{{ site.theme }}";

#downloads .btn {
    display: none;
    text-align: center;
    margin: 0;
  }

#downloads .btn-github {
    display: none;
    text-align: center;
    margin: 0;
}

#main_content .a {
    color: aqua;
}